*
!.gitignore
!.gitattributes
!.gitmodules

!.editorconfig
!CHANGELOG.md
!LICENSE.md
!README.md

!/.config
!/.config/mise
!/.config/mise/env
!/.config/mise/bsd-compat-headers.sh
!/.config/mise/ci-shim.sh
!/.config/mise/dockerignore.sh
!/.config/mise/kernel.sh
!/.config/mise/libtirpc.sh
!/.config/mise/mise.toml
!/.config/mise/openzfs.sh

!/.github
!/.github/workflows
!/.github/workflows/build.yml

!/vendor

!/docker-bake.hcl
!/Dockerfile
